/**General Style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    position: relative;
    height: 100vh;
    background:url("https://th.bing.com/th/id/OIP.OGBpujyNmIbTdCGwse9JJwHaFf?w=230&h=180&c=7&r=0&o=5&dpr=1.88&pid=1.7") no-repeat center center/ cover;
}
.index-button{
    position: absolute;
    top: 5%;
    left: 2%;
}
.quote-button{
    position: absolute;
    top: 5%;
    right: 46%;
}
.timepicker-button{
    position: absolute;
    top: 5%;
    right: 2%;
}
.stopwatch-button{
    position: absolute;
    top: 5%;
    right: 25%;
}
#open-btn{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 80px;
    font-size: 2rem;
    color: #fff;
    background: transparent;
    border: solid 2px #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 3px black;
    transition: .5s;
}
#open-btn:hover{
    background-color: #fff;
    color: black;
}
.modal{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*Center item*/
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-name: animatemodal;
    animation-duration: .4s;

}

#modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.3);
}
#close-btn{
    cursor: pointer;
    font-size: 3rem;
    color: red;
}

/*Modla Animation*/
@keyframes animatemodal {
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top:50%;
        opacity: 1;
    }
    
}